body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	width:100%;
	height:500px;
}
header {
	width:100%;
	background-color: #404041;
	text-align: center;
	height:100px;
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

main {
	display:flex;
}

.title h1 {
	color:#DD1972;
}

.title-span {
	font-weight:200;
}

.tile h4 {

}

.section-left {
	flex:1;
	width:50%;
	background-color:#F7F7F7;
}

.section-right {
	flex:1;
	width:50%;
	background-color: #D0D2D3;
}

.container-range {
	background-color: #FFF;
	border:1px solid gray;
	display:flex;
	align-items: center;
}

.min-range-form {
	flex:1;
}

.max-range-form {
	flex:1;

}

.button-range-form {
	flex:1;
}

