*  {
	margin: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	width:100%;

}
header {
	width:100%;
	background-color: #404041;
	text-align: center;
	height:100px;
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

main {
	display:flex;
}

.title h1 {
	color:#DD1972;
}

.title-span {
	font-weight:200;
}

.title h4 {
	color: #FFF;
}


.section-left {
	flex:1;
	width:50%;
	background-color: #f2f2f3;
}

.section-right {
	flex:1;
	width:50%;
	background-color: #D0D2D3;
}

.container-range {
	background-color: #FFF;
	border:1px solid gray;
	display:flex;
	align-items: flex-end;
	margin: 15px;
}

Input {
	height: 35px;
	border: 1px solid gray;
	padding: 0;
	width: 90%
}

Button {
	height: 35px;
	background-color: #6E6E6E;
	border-radius: 30%;
}

.min-range-form {
	flex:2;
	margin: 15px;
	margin-right: 0px;
}

.max-range-form {
	flex:2;
	align-items: flex-end;
	margin: 15px;

}

.button-range-form {
	flex:1;
	margin: 15px;
}

.button-range-form button {
	width: 100%;
	color: white;
	font-size: 20px;
}

.container-challenger {
	background-color: #FFF;
	border:1px solid gray;
	display:flex;
	flex-direction: column;
	margin: 15px;
}

.challenger-one-article {
	display: flex;
	align-items: flex-end;
	margin: 15px;
}

.challenger-two-article {
	display: flex;
	align-items: flex-end;
	margin: 15px;
}

.name-form {
	flex: 2;
}

.guess-form {
	flex: 1;
}
